# Tuple in Python :

In [2]:
# A tuple is a ordered , immutable collection of elements in python.
# Tuples are similar to lists, but unlike lists, they cannot be momdified once created.
# Tuple using parentheses and support indexing , slicing, concatenation, and tuple unpacking.

In [6]:
# Create a tuple :
tuple1 = (10,20,30,40)
tuple1

(10, 20, 30, 40)

In [24]:
# To check tuple indexing :

tuple1 = (10,20,30,40)
tuple1[2]

30

In [28]:
# Tuple concatination :

tuple2 = (1,2,3,4,5)
tuple3 = ('a','b','c')
con_tup = tuple2 + tuple3
print(con_tup)

(1, 2, 3, 4, 5, 'a', 'b', 'c')

# Tuple methods :

In [37]:
# count()	
# Count occurrences of a value in the tuple.
# For example ,

T = (1, 2, 2, 3, 5, 4, 5, 1, 5)
print(T.count(2))
print(T.count(3))
print(T.count(5))

2
1
3

In [39]:
# index()	
# Return index of first occurrence of a value.
# For example ,

T = (10, 20, 30, 40, 50, 20)
print(T.index(40))

3

# Oprations of Tuple :

In [42]:
# Access elements :
# For example ,

t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(t[5])

6

In [44]:
# Slicing :
# For example ,

t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(t[5:])

(6, 7, 8, 9)

In [46]:
# Repetition :
# For example ,

t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(t * 3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [48]:
# Membership check :
# For example ,


print(10 in t)

False